{% extends "base.html" %}
{% block content %}
{% if current_user.is_authenticated %}
<div class="px-4 pt-2 my-3 text-center">
    <h1>{{ current_user.first_name }} {{ current_user.last_name }}</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Aplikace pro Vás sleduje {{ current_user.partners.count() }} partnerů.</p>
        <div aria-label="controls" class="btn-group flex-wrap" role="group">
            <form action="{{ url_for('partners.user_partners') }}" method="get">
                <input class="btn btn-primary btn-lg" type="submit" value="Partneři"/>
            </form>
            <form action="{{ url_for('insolvencies.user_insolvencies') }}" method="get">
                <input class="btn btn-secondary btn-lg" type="submit" value="Insolvence"/>
            </form>
        </div>
    </div>
</div>
{% else %}
<div class="px-4 pt-2 my-3 text-center">
    <h1>Sledovač insolvencí</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Aplikace na sledování stavů obchodních partnerů.</p>
    </div>
</div>
<div class="row row-cols-1 row-cols-md-3 text-center">
    <div class="col"></div>
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Zdarma</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Neomezené množství sledovaných partnerů</li>
                </ul>
                <form action="{{ url_for('users.register') }}" method="get">
                    <input class="w-100 btn btn-lg btn-primary" type="submit" value="Registrace zdarma"/>
                </form>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>
{% endif %}
{% endblock %}