{% extends "base.html" %}
{% block csss %}
    <link
            href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css"
            rel="stylesheet"
            type="text/css"
    />
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col">
            <div class="p-5 mb-4 bg-light rounded-3">
                <h1>
                    Vsichni partneri pro uzivatele: {{ user.first_name }} {{ user.last_name }}
                </h1>
            </div>

        </div>
    </div>
    <div class="row p-1">
        <div class="col">
            <div aria-label="controls" class="btn-group" role="group">
                <form action="{{ url_for('partners.create_partner') }}" method="get">
                    <input class="btn btn-success" type="submit" value="+ Pridat"/>
                </form>
                <form action="{{ url_for('partners.import_partners') }}" method="get">
                    <input class="btn btn-warning" type="submit" value="++ Pridat hromadne"/>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-hover" id="data" style="width: 100%;">
                    <thead class="table-light">
                    <tr>
                        <th>ICO</th>
                        <th>DIC</th>
                        <th>Nazev</th>
                        <th>Forma podnikani</th>
                        <th>Stav podnikani</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deletePartner" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Smazani partnera</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="delete-text" class="modal-body">
                    Opravdu chcete smazat partnera?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ne</button>
                    <form id="delete-form" action="/1/delete" method="post">
                        <input class="btn btn-danger" type="submit" value="Ano"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %} {% block scripts %}
<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        type="text/javascript"
></script>
<script
        src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"
        type="text/javascript"
></script>
<script
        src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"
        type="text/javascript"
></script>
<script
        src="{{ url_for('static', filename='scripts/user_partners.js') }}"
        type="text/javascript"
></script>
<script>
        $(document).ready(function () {
            const table = $("#data").DataTable({
                "language": {
                    "url": '//cdn.datatables.net/plug-ins/1.10.25/i18n/Czech.json'
                },
                ajax: "{{ url_for('partners.api_partners') }}",
                serverSide: true,
                columns: [
                    {data: "ico"},
                    {data: "dic"},
                    {data: "name"},
                    {data: "business_form"},
                    {data: "state"},
                    {
                        data: null,
                        className: "dt-center editor-delete",
                        defaultContent: '<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deletePartner">Smazat</button>',
                        orderable: false
                    }
                ],
            });
            $('#data tbody').on('click', 'tr', function (e) {
                var tr = $(this);
                var row = table.row(tr);
                if (row.child.isShown()) {
                    row.child.hide();
                    tr.removeClass('shown');
                } else {
                    row.child(format(row.data())).show();
                    tr.addClass('shown');
                }
            });
            $('#data').on('click', 'td.editor-delete', function () {
                e.preventDefault();
                var tr = $(this).closest('tr');
                var row = table.row(tr);
                document.getElementById("delete-text").innerHTML = "Opravdu chcete smazat partnera " + row.data().name + " ?";
                document.getElementById("delete-form").action = "/partners/" + row.data().id + "/delete";
            });
        });
    </script>
{% endblock %}
