<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="Filip Hanš" name="author"/>
    <title>{{ title }}</title>
    <link
            href="{{ url_for('static', filename='favicon.ico') }}"
            rel="shortcut icon"
    />
    <link
            crossorigin="anonymous"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            rel="stylesheet"
    />
    {% block csss %} {% endblock %}
</head>
<body class="d-flex flex-column min-vh-100">
<header class="navbar navbar-expand-md navbar-light bd-navbar bg-light border-bottom py-3 mb-4">
    <nav class="container-xxl flex-wrap flex-md-nowrap">
        <a class="navbar-brand" href="{{ url_for('core.index') }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                 class="bi bi-journal-check" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M10.854 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 8.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
                <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
            </svg>
        </a>
        <button aria-controls="navbarCollapse" aria-expanded="false" aria-label="Menu" class="navbar-toggler"
                data-bs-target="#navbarCollapse" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav bd-navbar-nav pt-2 py-md-0">
                <li class="nav-item col-6 col-md-auto">
                    <a aria-current="page" class="nav-link" href="{{ url_for('core.index') }}">Domů</a>
                </li>
                {% if current_user.is_authenticated %}
                    <li class="nav-item col-6 col-md-auto">
                        <a class="nav-link" href="{{ url_for('partners.user_partners') }}">Partneři</a>
                    </li>
                    <li class="nav-item col-6 col-md-auto">
                        <a class="nav-link" href="{{ url_for('insolvencies.user_insolvencies') }}">Insolvence</a>
                    </li>
                    {% if current_user.admin %}
                        <li class="nav-item col-6 col-md-auto">
                            <a class="nav-link" href="{{ url_for('users.administration') }}">Administrace uživatelů</a>
                        </li>
                    {% endif %}
                {% endif %}
                <li class="nav-item col-6 col-md-auto">
                    <a class="nav-link" href="{{ url_for('core.about') }}">O nás</a>
                </li>
            </ul>
            <hr class="d-md-none text-white-50">
            <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
                {% if current_user.is_authenticated %}
                    <li class="d-flex nav-item dropdown">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="logedInNavbarDropdownMenuLink" role="button">
                            {{ current_user.first_name }} {{ current_user.last_name }}
                        </a>
                        <ul aria-labelledby="logedInNavbarDropdownMenuLink" class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="{{ url_for('users.account') }}">Profil</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('users.api_token') }}">API Token</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('users.logout') }}">Odhlásit</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="d-flex nav-item dropdown">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="anonymNavbarDropdownMenuLink" role="button">
                            Účet
                        </a>
                        <ul aria-labelledby="anonymNavbarDropdownMenuLink" class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="{{ url_for('users.login') }}">Přihlásit</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('users.register') }}">Registrovat</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
<main>
    <div class="container">
        {% for category, message in get_flashed_messages(with_categories=true) %}
            <div
                    class="alert alert-{{ category }} alert-dismissible fade show"
                    role="alert"
            >
                {{ message }}
                <button
                        aria-label="Close"
                        class="btn-close"
                        data-bs-dismiss="alert"
                        type="button"
                ></button>
            </div>
        {% endfor %}
        {% block content %}
        {% endblock %}
    </div>
</main>
<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">Vytvořeno jako praktická část bakalářské práce. Autor: Filip Hanš</span>
    </div>
</footer>
<script
        crossorigin="anonymous"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
></script>
{% block scripts %} {% endblock %}
</body>
</html>
