{% extends "base.html" %}
{% block content %}
    <div class="px-4 pt-2 my-3 text-center">
        <h1>O nás</h1>
    </div>
    <div class="container">
        <h3>O aplikaci</h3>
        <p class="lead">
            Tato webová aplikace byla vytvořena v rámci bakalářské práce. Jejím cílem bylo představit vývoj webových
            aplikací v jazyce Python 3.
        </p>
        <p class="lead">
            Apliakce umožňuje uživatelům sledovat obchodní partnery a jejich insolvenční řízení. Data partnerů jsou
            odebírána s veřejného zdroje ARES. Data insolvenčních řízení jsou odebírána z veřejného zdroje Insolvenční
            rejstřík.
        </p>
        <h3>Použité technologie</h3>
        <p class="lead">
            Aplikace využívá v maximálních možnostech jazyk Python 3 s frameworkem Flask a šablonovacím jazykem Jinja2
            nad
            HTML.
        </p>
        <p class="lead">
            Pro moderní vzhled jsou použity CSS a JS knihovny Bootstrap a Datatables.
        </p>
    </div>
{% endblock %}