{% extends "base.html" %}
{% block content %}
    <div class="px-4 pt-2 my-3 text-center">
        <h1>Generování API Tokenu</h1>
    </div>
    <div class="container text-center" style="max-width: 850px;">
        <form action="" enctype="multipart/form-data" method="POST">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.token(class='text-center form-control', placeholder='API Token', disabled=True, readonly=True) }}
            </div>
            {{ form.submit(class='btn btn-primary btn-lg') }}
        </form>
    </div>
{% endblock %}